<div class="row">
	<div class="col-md-4 col-md-offset-4 user-photo">
		<img id="avatar" src=
		{% if player.image %}"{{ asset('bundles/web/img/usersProfiles/' ~ player.image) }}"{% else %}"{{ asset('bundles/web/img/usersProfiles/default.png') }}"{% endif %}
		/><br />
		<div id="0"></div>
	</div>
</div>
<br />

<div class="row user-info">
	<div class="col-md-1 col-md-offset-4">
		{% trans %}Name{% endtrans %}
	</div>
	<div class="col-md-3">
		<div class="form-group input-group-sm">
			<div id="2">{{ player.name|capitalize}}</div>
		</div>
	</div>
</div>

<div class="row user-info">
	<div class="col-md-1 col-md-offset-4">
		{% trans %}Phone{% endtrans %}
	</div>
	<div class="col-md-3">
		<div class="form-group input-group-sm">
			<div id="4">{% if player.phoneNumber %}{{ player.phoneNumber }}{% else %}&nbsp{% endif %}</div>
		</div>
	</div>
</div>

<div class="row user-info">
	<div class="col-md-1 col-md-offset-4">
		{% trans %}Age{% endtrans %}
	</div>
	<div class="col-md-3">
		<div class="form-group input-group-sm">
			<div id="5">{% if player.age %}{{ player.age }}{% else %}&nbsp{% endif %}</div>
		</div>
	</div>
</div>

<div class="row user-info">
	<div class="col-md-1 col-md-offset-4">
		{% trans %}Nationality{% endtrans %}
	</div>
	<div class="col-md-3">
		<div class="form-group input-group-sm">
			<div id="6">{% if player.nationality %}{{ player.nationality }}{% else %}&nbsp{% endif %}</div>
		</div>
	</div>
</div>

<div class="row user-info">
	<div class="col-md-1 col-md-offset-4">
		{% trans %}Equipment{% endtrans %}			
	</div>
	<div class="col-md-3">
		<div class="form-group input-group-sm">
			<div id="7">{% if player.equipment %}{{ player.equipment.brand }}{% else %}&nbsp{% endif %}</div>
		</div>
	</div>
</div>