{% extends 'base/base.html.twig' %}
{% set active = 5 %}
{% block body %}
	<div class="container rounded-box">
		{{ form_start(form) }}
		New Password: {{ form_widget(form.password.first) }}<br />
		Repeat New Password: {{ form_widget(form.password.second) }}<br />
		{{ form_widget(form._token)}}
		<button type='submit'>Change Password</button>
		{{ form_end(form, {'render_rest': false}) }}
	</div>
{% endblock %}